/* Font Family  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* --------------------- End --------------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  /* max-width: 1920px; */
  font-family: "Work Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --primary: #131313;
  --secondary: #727272;
  --btn-bg-color: #ff900e;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
/* My Common Stylesheet End  */

/* Header styles start   */
header {
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 50px;
}
nav {
  padding: 50px 0 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-weight: 700;
  font-size: 45px;
  color: var(--primary);
}
.menubar ul {
  display: flex;
}
.menubar ul li {
  margin-left: 30px;
}
.menubar ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  padding: 10px 15px;
}
.bunner-text .bunner-heading {
  font-weight: 700;
  font-size: 64px;
}
.bunner-text .bunner-title {
  color: var(--secondary);
  padding: 30px 280px 30px;
}
.bunner-btn a,
.features-btn a {
  color: #fff;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  background-color: var(--btn-bg-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.bunner-image img {
  width: 100%;
  padding: 50px 0 45px;
}
/* Header part end  */
/* features style start */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width: 50%;
}
.features-img img {
  width: 100%;
}
.features-text {
  width: 50%;
}
.features-text .features-head-1 {
  font-weight: 500;
  font-size: 45px;
  color: var(--secondary);
}
.features-text .features-head-1 span {
  font-weight: 700;
  font-size: 45px;
  color: var(--primary);
}
.features-text .features-head-2 {
  font-weight: 700;
  font-size: 45px;
  color: var(--btn-bg-color);
}
.features-text p {
  padding: 24px 0 10px;
  color: var(--secondary);
}
/* features style end */
/* features enjoy styles start  */
#features-enjoy-id {
  margin: 130px 0;
}
.features-enjoy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.features-enjoy-img,
.features-injoy-items {
  width: 50%;
}
.features-injoy-items .enjoy-heading {
  padding: 30px 30px 20px 25px;
  font-weight: 700;
  font-size: 45px;
  /* border-left: 3px solid var(--btn-bg-color); */
}
.features-injoy-items .enjoy-heading::after {
  position: relative;
  content: "";
  width: 5px;
  height: 16px;
  background-color: var(--btn-bg-color);
}

.enjoy-item {
    margin: 25px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid red;
}
.features-enjoy-img img {
  width: 100%;
}

.alu{
    background-color: #ff900e;
    display: inline-block;
    padding: 35px 32px;
    position: relative;
    top: -80px;
    left: -30px;
}

/* features enjoy styles end */
/* some facts style start  */
.some-fact-items{
    display: flex;
    justify-content: space-around;
}
.fact-item{
    border: 1px solid red;
    padding: 30px;
}
/* some facts style End  */

/* sponser style start */
.spons-company{
    display: flex;
    justify-content: space-between;
    
}
.spons-company img{
    filter: grayscale(100%);

}


/* sponser style End */