/* Font Family  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
/* --------------------- End --------------------- */
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  /* max-width: 1920px; */
  font-family: "Work Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
:root {
  --primary: #131313;
  --secondary: #727272;
  --btn-bg-color: #ff900e;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
/* My Common Stylesheet End  */

/* Header styles start   */
header {
  background-color: rgba(255, 144, 14, 0.1);
  margin-bottom: 50px;
}
nav {
  padding: 50px 0 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-weight: 700;
  font-size: 45px;
  color: var(--primary);
}
.menubar ul {
  display: flex;
}
.menubar ul li {
  margin-left: 30px;
}
.menubar ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  padding: 10px 15px;
}
.bunner-text .bunner-heading {
  font-weight: 700;
  font-size: 64px;
}
.bunner-text .bunner-title {
  color: var(--secondary);
  padding: 30px 280px 30px;
}
.bunner-btn a,
.features-btn a {
  color: #fff;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  background-color: var(--btn-bg-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.bunner-image img {
  width: 100%;
  padding: 50px 0 45px;
}
/* Header part end  */
/* features style start */
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  width: 50%;
}
.features-img img {
  width: 100%;
}
.features-text {
  width: 50%;
}
.features-text .features-head-1 {
  font-weight: 500;
  font-size: 45px;
  color: var(--secondary);
}
.features-text .features-head-1 span {
  font-weight: 700;
  font-size: 45px;
  color: var(--primary);
}
.features-text .features-head-2 {
  font-weight: 700;
  font-size: 45px;
  color: var(--btn-bg-color);
}
.features-text p {
  padding: 24px 0 10px;
  color: var(--secondary);
}
/* features style end */
/* features enjoy styles start  */
#features-enjoy-id {
  margin: 130px 0;
}
.features-enjoy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.features-enjoy-img,
.features-injoy-items {
  width: 50%;
}
.features-injoy-items {
  position: relative;
}
.features-injoy-items .enjoy-heading {
  padding: 30px 30px 20px 25px;
  font-weight: 700;
  font-size: 40px;
  /* border-left: 3px solid var(--btn-bg-color); */
}
.heading-line {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 3px;
  height: 80px;
  background-color: #ff900e;
}

.enjoy-item {
  margin: 25px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.enjoy-item h4 {
  padding-bottom: 10px;
}
.features-enjoy-img img {
  width: 100%;
}

.year-10 {
  background-color: #ff900e;
  color: #fff;
  display: inline-block;
  padding: 35px 40px;
  position: relative;
  top: -65px;
  left: -50px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.year-10 a {
  color: #fff;
}

/* features enjoy styles end */
/* some facts style start  */
.some-fact-title h3 {
  font-weight: 700;
  font-size: 45px;
}
.some-fact-title p {
  color: var(--secondary);
  padding: 24px 0 90px;
}
.some-fact-items {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.fact-item {
  width: 20%;
  border: 2px solid #ff900e;
  border-radius: 8px;
  padding: 50px 35px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}
.item-scal {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.fact-item:hover .item-scal {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.fact-item .icon-count {
  font-weight: 600;
  font-size: 38px;
  color: #424242;
  padding: 8px 0;
}
.fact-item .icon-title {
  font-weight: 600;
  font-size: 20px;
  color: var(--secondary);
}
/* some facts style End  */

/* sponser style start */
#spons-id {
  margin: 130px 0;
}

.spons-title h2 {
  font-weight: 700;
  font-size: 45px;
}
.spons-title p {
  padding: 25px 0 50px;
  color: var(--secondary);
}
.spons-company {
  display: flex;
  justify-content: space-between;
}
.spons-company img {
  filter: grayscale(100%);
}

/* sponser style End */
/* footer styles start  */
.footer{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-some-photos{
    width: 50%;
}
.footer-some-photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.footer-some-photos img{
    width:200px;
    height: 150px;
    border-radius: 8px;
    transition: 0.4s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.footer-menubar ul{
    padding-top: 30px;
    display: flex;
}
.footer-menubar ul li {
    padding-right: 20px;
}
.footer-menubar ul li a{
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary);
}
.footer-menubar ul li a:hover{
    color: var(--btn-bg-color);
}
.footer-some-photos img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
/* footer styles end */
/* copyriht styles start */
#copy-right-id {
  background-color: rgba(255, 144, 14, 0.1);
}
.copy-right {
  padding: 30px 0;
}
/* copyriht styles end */


/* -------------------------------------
Mobile Responsive Styles 
----------------------------------------- */
@media only screen and (max-width:576px) {
    .container{
        width: 90%;
    }
    .logo a{
        font-size: 30px;
        color: #ff900e;
    }
    nav{
        flex-direction: column;
        padding: 50px 0;
    }
    .menubar ul {
        text-align: center;
        flex-direction: column;
    }
    .menubar ul li {
        padding: 5px 0;
        margin: 0;
    }
    .bunner-text .bunner-heading {
        font-size: 30px;
    }
    .bunner-text .bunner-title {
        padding: 20px 0;
        text-align: justify;
    }
    .features-btn a {
        font-size: 18px;
        padding: 10px 20px;
    }
    .features {
        gap: 25px;
        flex-direction: column-reverse;
    }
    .features-text {
        width: 100%;
        text-align: center;
    }
    .features-text .features-head-1, .features-head-2 {
        font-size: 35px;
    }
    .features-text p {
        padding:10px  0;
    }
    .features-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 100%;
    }
    #features-enjoy-id {
        margin: 10px 0;
    }
    .features-enjoy {
        text-align: center;
        gap: 20px;
        flex-direction: column;
    }
    .features-enjoy-img, .features-injoy-items {
        width: 100%;
    }
    .features-injoy-items .enjoy-heading {
        padding: 20px 30px 20px 25px;
        font-size: 26px;
    }
    .heading-line {
        top: 86px;
        width: 100%;
        height: 3px;
    }
    .enjoy-item {
        margin: 20px 0;
    }
    .enjoy-item p{
        text-align: justify;
    }
    .year-10 {
        padding: 13px 35px;
        top: -45px;
        left: 0px;
    }
    .some-fact-title{
        text-align: center;
        padding: 20px 0;
    }
    .some-fact-title h3 {
        font-size: 40px;
        padding: 0 0 20px 0;
    }
    .some-fact-title p{
        padding: 0;
    }
    .fact-item {
        width: 100%;
        border: 2px solid #ff900e;
        border-radius: 8px;
        padding:30px 0;
    }
    .some-fact-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    #spons-id {
        margin: 0;
    }
    .spons-title p {
        padding: 25px 0 25px;
    }
    .spons-company {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-some-photos, .logo-menu {
        width: 100%;
    }
    .footer-some-photos {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .footer-menubar ul {
        padding: 15px 0;
        justify-content: center;
    }
    .footer-menubar ul li:last-child {
        padding: 0;
    }
    .footer-menubar ul li a {
        font-size: 16px;
    }
    .footer-some-photos img{
        width: 100%;
    }

}

/* Tablet Responsive Style  */
@media only screen and (min-width:576px) and (max-width:992px) {
    .container{
        width: 90%;
    }
    .logo a{
        font-size: 30px;
        color: #ff900e;
    }
    nav{
        flex-direction: column;
        padding: 50px 0;
    }
    .menubar ul {
        text-align: center;
        flex-direction: column;
    }
    .menubar ul li {
        padding: 5px 0;
        margin: 0;
    }
    .bunner-text .bunner-heading {
        font-size: 30px;
    }
    .bunner-text .bunner-title {
        padding: 20px 0;
        text-align: justify;
    }
    .features-btn a {
        font-size: 18px;
        padding: 10px 20px;
    }
    .features {
        gap: 25px;
        flex-direction: column-reverse;
    }
    .features-text {
        width: 100%;
        text-align: center;
    }
    .features-text .features-head-1, .features-head-2 {
        font-size: 35px;
    }
    .features-text p {
        padding:10px  0;
    }
    .features-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 100%;
    }
    #features-enjoy-id {
        margin: 10px 0;
    }
    .features-enjoy {
        text-align: center;
        gap: 20px;
        flex-direction: column;
    }
    .features-enjoy-img, .features-injoy-items {
        width: 100%;
    }
    .features-injoy-items .enjoy-heading {
        padding: 20px 30px 20px 25px;
        font-size: 26px;
    }
    .heading-line {
        top: 60px;
        width: 100%;
        height: 3px;
    }
    .enjoy-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
    }
    .enjoy-item {
        margin: 20px 0;
    }
    .enjoy-item p{
        text-align: justify;
    }
    .year-10 {
        padding: 13px 35px;
        top: -45px;
        left: 0px;
    }
    .some-fact-title{
        text-align: center;
        padding: 20px 0;
    }
    .some-fact-title h3 {
        font-size: 40px;
        padding: 0 0 20px 0;
    }
    .some-fact-title p{
        padding: 0;
    }
    .fact-item {
        width: 100%;
        border: 2px solid #ff900e;
        border-radius: 8px;
        padding:30px 0;
    }
    .some-fact-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    #spons-id {
        margin: 0;
    }
    .spons-title p {
        padding: 25px 0 25px;
    }
    .spons-company {
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-some-photos, .logo-menu {
        width: 100%;
    }
    .footer-some-photos {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .footer-menubar ul {
        padding: 15px 0;
        justify-content: center;
    }
    .footer-menubar ul li:last-child {
        padding: 0;
    }
    .footer-menubar ul li a {
        font-size: 16px;
    }
    .footer-some-photos img{
        width: 100%;
    }
}
/* End */

/* Fix responsive laptop and desktop*/
@media only screen and (min-width:993px) and (max-width:1920px) {
    .footer-some-photos img{
        width: 100%;
    }
}
